/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    background-color: white;
}

/* Utils */

.countainer{
    max-width: 1080px;
    margin:0 auto;
    display:flex;
}



/* Header */

/*  Class header-main countainer proprietes */

.header-main{
    background-color: #ADD8E6;
    min-height: 25px;
}

/*main countainer header*/
.hmc{
    
    align-items: center;
    min-height: 50px;
}


.small{
    width: 20%;
}


.big{
    width: 60%;
}


.box-header{
    background-color: #DAA520;
    border: 2px dotted black;
    min-height: 25px;
}

/* Class Footer countainer proprietes */

.header-footer{
    background-color: #00008B;
    min-height: 300px;
}

/*footer countainer */
.fc{
    align-items: center;
    min-height: 300px;
}

.box-footer{
    background-color: #EE82EE;
    border: 2px dotted black;
    min-height: 200px;
    width: 100%;
}

/* Main */

/*main countainer */
.mc{
    align-items: center;
    min-height: 400px;
}

/* small box */
.sb{
    width: 40%;
    background-color: #FFC0CB;
}


/* big box */
.bb{
    width: 60%;
    background-color: #1E90FF;
}

.main-box{
    border: 2px dotted black;
    min-height: 300px;

}


.main-secondary{
    background-color: #D3D3D3;
    min-height: 400px;
}

/*main footer countainer*/

/*main countainer footer*/

.main-footer-box{
    background-color: #228B22;
    min-height: 600px;
}

.footer-main{   
    background-color: #D3D3D3;
    min-height: 800px;
}