/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    background-color: white;
}

/* Utils */

.countainer{
    max-width: 1080px;
    margin:0 auto;
    display:flex;
}



/* Header */

/*  Class header-main countainer proprietes */

.header-main{
    background-color: #ADD8E6;
    min-height: 25px;
}

/*main countainer header*/
.hmc{
    
    align-items: center;
    min-height: 50px;
}


.small{
    width: 20%;
}


.big{
    width: 60%;
}


.box-header{
    background-color: #DAA520;
    border: 2px dotted black;
    min-height: 25px;
}

/* Class Footer countainer proprietes */

.header-footer{
    background-color: #00008B;
    min-height: 300px;
}

/*footer countainer */
.fc{
    align-items: center;
    min-height: 300px;
}

.box-footer{
    background-color: #EE82EE;
    border: 2px dotted black;
    min-height: 200px;
    width: 100%;
}

/* Main */

/*main countainer */
.mc{
    align-items: center;
    min-height: 400px;
}

/* small box */
.sb{
    width: 40%;
    background-color: #FFC0CB;
}


/* big box */
.bb{
    width: 60%;
    background-color: #1E90FF;
}

.main-box{
    border: 2px dotted black;
    min-height: 300px;

}


.main-secondary{
    background-color: #D3D3D3;
    min-height: 400px;
}

/*main footer countainer*/


.mfc{
    align-items: center;
    min-height: 800px;
}

.main-footer-box{
    background-color: #228B22;
    border: 2px dotted black;
    min-height: 600px;
    flex-basis: 100%;
}

.main-footer{   
    background-color: #D3D3D3;
    min-height: 800px;
}


/* Footer */ 





/* footer main */
.footer-main{
    background-color: #23272A;
    min-height: 400px;
    margin-bottom: 2px;
}


.fmcb{
        align-items: flex-start;
        min-height: 600px;
        background-color: #23272A;
}

.footer-box{
    min-height: 400px;
    flex-basis: 40%;
    background-color: #F08080;
    border: 2px dotted black;
    margin-top: 10px;
}

.footer-big-box{
    min-height: 400px;
    flex-basis: 60%;
    background-color:#20B2AA;
    border: 2px dotted #20B2AA;
    display:flex;
    margin-top: 10px;
}
    
.footer-small-box{
    min-height: 400px;
    flex-basis: 25%;
    border: 2px dotted white;
}



/* end footer */

.e-footer{
    background-color: #23272A;
    min-height: 25px;
}

.efc{
    
    align-items: flex-end;
    min-height: 50px;
}
.box-end-footer{
    min-height: 40px;
    width: 100%;
    background-color: #7FFFD4;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box{
    flex-basis:60px;
    background-color: orange;
    min-height: 15px;
}