/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    background-color: white;
}

/* Utils */

.countainer{
    max-width: 1080px;
    margin:0 auto;
    display:flex;
}



/* Header */

/*  Class Main countainer proprietes */

.main-header{
    background-color: lightblue;
    min-height: 100px;
}


.mc{
    
    align-items: center;
    min-height: 100px;
}


.small{
    width: 20%;
}


.big{
    width: 60%;
}


.box-header{
    background-color: orange;
    border: 2px dotted black;
    min-height: 50px;
}

/* Class Footer countainer proprietes */

.footer-header{
    background-color: blue;
    min-height: 600px;
}


.fc{
    align-items: center;
    min-height: 600px;
}

.box-footer{
    background-color: pink;
    border: 2px dotted black;
    min-height: 400px;
    width: 100%;
}
}
